    <!-- Footer -->
  <footer class="w-full mt-10 border-t bg-white">
    <div class="px-20 py-5 flex justify-between items-center">
        <p class="text-sm text-zinc-500">
            © 2026 Scratch. All rights reserved.
        </p>

        <div class="flex gap-4 text-xl">
            <i class="ri-instagram-line"></i>
            <i class="ri-twitter-x-line"></i>
            <i class="ri-facebook-circle-line"></i>
        </div>
    </div>
</footer>

</body>
</html>