<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
        rel="stylesheet"
    />
</head>
<body class="bg-zinc-100">

<nav class="w-full px-20 py-5 bg-white shadow-sm flex justify-between items-center">
    <a href="/" class="text-2xl font-bold">SCRATCH</a>
    <% var loggedin = typeof  loggedin !== 'undefined' ? loggedin : true; %>
    <% if (loggedin){%>
      <div class="flex gap-6">
        <a href="/shop">Shop</a>
        <a href="/cart">Cart</a>
        <a href="/account">My Account</a>
        <a href="/users/logout">Logout</a>
      </div>
    <% }%>
   
</nav>